<!doctype html >
<html ng-app="getColorApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>GetColors by jsoftgem</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-dark.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="javascripts/respond.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

</head>
<body ng-controller="getColorCtrl">
<div id="header">
    <nav>
        <li class="fork"><a href="https://github.com/jsoftgem/GetColorsApp">View On GitHub</a></li>
        <li class="downloads"><a href="https://github.com/jsoftgem/GetColorsApp/zipball/master">ZIP</a></li>
        <li class="downloads"><a href="https://github.com/jsoftgem/GetColorsApp/tarball/master">TAR</a></li>
        <li class="title">DOWNLOADS</li>
    </nav>
</div>
<!-- end header -->

<div class="wrapper">

    <section>
        <div id="title">
            <h1>GetColors</h1>

            <p>Create a color scheme using an IMAGE file</p>

            <div style="padding: 15px 0; margin: auto">
                <button title="button" ngf-select="selectFile($file)" ngf-pattern="&apos;image/*&apos;"
                        ngf-no-object-url="true"
                        accept="image/*" ngf-max-size="20MB">Browse photo
                </button>
                <span ng-if="loadingImage">Loading image...</span>

                <div>
                    <img ng-if="imageData" ng-src="{{imageData}}" width="250" height="250">
                </div>
            </div>

            <fieldset>
                <legend>Palette from image </legend>
                <h6>(click to add)</h6>
                <div ng-repeat="hex in hexes">
                    <div ng-if="!removeAdded(hex)"
                         style="height: 50px;width:50px;border-radius: 4px;background:{{hex}};float:left;cursor: pointer"
                         ng-click="includeForChroma(hex)"></div>
                </div>
            </fieldset>
            <h2>Palette Selected</h2>
            <fieldset>
                <legend>JSON Array</legend>
                <div>
                    <p style="word-break: break-all" ng-if="chromaSamples && chromaSamples.length > 0">
                        {{chromaSamplesString}}
                    </p>
                </div>
            </fieldset>
            <fieldset ng-if="chromaSamples && chromaSamples.length > 0">
                <h6>(click to remove)</h6>

                <div ng-repeat="chroma in chromaSamples" ng-click="remove(chroma)"
                     style="height: 50px;width:50px;border-radius: 4px;background:{{chroma}};float:left;;cursor: pointer"></div>

            </fieldset>
            <h21>Chroma Generated</h21>
            <fieldset>
                <legend>JSON Array</legend>
                <div>
                    <p style="word-break: break-all" ng-if="chromaColors && chromaColors.length > 0">
                        {{chromaColorsString}}
                    </p>
                </div>
            </fieldset>
            <fieldset ng-if="chromaColors && chromaColors.length > 0">
                <div ng-repeat="chroma in chromaColors"
                     style="height: 50px;width:50px;border-radius: 4px;background:{{chroma}};float:left;;cursor: pointer"></div>
            </fieldset>


        </div>

    </section>
    <div>
                <span class="credits left">Project maintained by <a
                        href="https://github.com/jsoftgem">jsoftgem</a></span>
            <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a
                    href="https://twitter.com/michigangraham">mattgraham</a></span>
    </div>

</div>
<!--[if !IE]>
<script>fixScale(document);</script><![endif]-->
<script src="lib/vendor/jquery/dist/jquery.min.js"></script>
<script src="lib/vendor/angular/angular.js"></script>
<script src="lib/vendor/ng-file-upload/ng-file-upload.min.js"></script>
<script src="lib/vendor/ng-file-upload/FileAPI.min.js"></script>
<script src="lib/vendor/chroma/chroma.min.js"></script>
<script src="lib/vendor/color-thief/color-thief.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>
